/* Your app custom styles here */

    .page {
        background: url("../img/texture1.png") no-repeat center center fixed !important;
        background-size: cover !important;
    }
    .login-or {
        position: relative;
        color: #aaa;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        }
    .span-or {
       display: block;
       position: absolute;
       left: 50%;
       top: 0px;
       margin-left: -25px;
       background-color: #fff;
       width: 50px;
       text-align: center;
       text-shadow: 0 0 0 #111;
       color: #424040;
        }
    .hr-or {
        height: 0px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 30px;
        margin-right: 30px;
        }
    
    .myh1{
        font-family: 'Kaushan Script', cursive;
        font-size: 2.5em;
        color: #fff;
        margin: 0.4em 0 0.2em 0;
        text-align: center;
        }
    .myh2,.myh3{
        font-family: 'Kaushan Script', cursive;
        }
    .myh4,.myh5,.myh6{
        font-family: 'Kaushan Script';
        }
    .mypanel {
        background-color: #1F2736;
        margin: 5px 0px;
        position: relative;
        border-radius: 1rem;
        border: .2rem solid;
        border-bottom-color: #121212;
        border-left-color: #252525;
        border-right-color: #080808;
        border-top-color: #3a3939;
        box-shadow: inset -2px -2px 2px #353535, inset 5px 5px 3px #000000;
    }	 
            
    .myform{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
        -ms-flex-direction: column;
        flex-direction: column;
        pointer-events: auto;
        background-color: #1e1e1e;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 0.5em;
        outline: 0;
        max-width: 400px;
        color: #777;
    }
    .myinput{
        background-color: #333 !important;
        color: #777;
        border-color: #454545 !important;
        border-width: 1px !important;
        border-radius: 0.3em !important;
        padding: 3px !important;
        margin: 0 0 .4em .4em !important;
    }
    .mybtn{
        border-radius:50px !important;
        margin: 0.6em 0 !important;
        box-shadow: -2px -2px 4px #353535, 2px 2px 2px #000 !important;
    }
    .myCancelBtn{
        border-radius:50px !important;
        margin: 0.6em 0 !important;
        box-shadow: -2px -2px 4px #353535, 2px 2px 2px #000 !important;
        font-weight: 400 !important;
        font-size: 14px !important;
    }

    .myLabel{
        font-size: 20px !important;
        margin: 0.15em 1em !important;	
    }

    .mySmallLabel{
        font-size: 15px !important;
        margin: 0.15em 1em !important;	
    }

    .label-inline{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: flex-start;
        align-items: center;
    }
    .params-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: normal;
    }
      
    .hidden {
        display: none !important;
    }
        
    body {
        background-color: #1F1A1A;
        color: white;
    }
    /* ----- */
    
    .vert {
        color:SpringGreen !important;
    }
    .cyan {
        color:Cyan !important;
    }
    .rose {
        color:Orchid !important;
    }
    .violet {
        color:#ddd3ff !important;
    }
    .blanc {
        color:OldLace !important;
    }
    .rouge {
        color:#ff4500 !important;
      }
    .orange {
        color:#ffa500 !important;
      }
    .jaune {
        color:#ffff00 !important;
      }
    .bleu {
        color:#009eff !important;
    }
    .grisFonce {
        color:gray!important;
    }
    .gris {
        color:darkgray !important;
    }
    .grisClair {
        color:lightgray !important;
    }
    

    /* ---------------- */

    .right {
        text-align: right;
    }

    .left {
        text-align: left;
    }

    .center{
        text-align: center;
    }

    /* ---------------- */

    input[type="time"]::-webkit-calendar-picker-indicator {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }

    /* ---------------- */

    .routeur-container {
      color: white;
      width: 100%;
      position: relative;
    }  
    .routeurImgDiv {
      position: absolute;
      top: 0;
      left: 0;
    }
    .routeurBalonDiv {
      position: absolute;
      top: 177px;
      left: 59px;
      z-index: 1;
    }
    .routeurPACDiv {
      position: absolute;
      top: 177px;
      left: 215px;
      z-index: 1;
    }
    .controles-container {
        position: absolute;
        top: 480px;
    }  

    /* ---------------- */

    .smallFillContent{
        padding: 0 !important;
        margin: 0.5em 0.4em 0.6em 0.4em !important;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        
    }
    .smallLabel{
          font-size: 10px !important;
          margin: 0 0 .1em !important;	
        order: 0;
        flex: 0 1 auto;
        align-self: center;
    }
    .normalLabel{
        font-size: 12px !important;
        margin: 0 0 .1em !important;	
        order: 0;
        flex: 0 1 auto;
        align-self: center;
    }
    .smallTextInput{
        padding: 0px 0px 0px 2px !important;
        background-color: #222 !important;
        box-shadow: inset -2px -2px 2px #353535, 
                    inset 3px 3px 3px #000000,
                          -2px -2px 4px #353535, 
                          2px 2px 2px #000;
        font-size: 1.2em;
        width: 3em;
        order: 0;
        flex: 0 1 auto;
        align-self: center;
    
    }
    .smallFillContent[item="maison"] {
      position: absolute;
      z-index: 2;
      top: 14px;
      left: 165px;
    }
    .smallFillContent[item="pnx"] {
      position: absolute;
      z-index: 1;
      top: 149px;
      left: 7px;
    }
    .smallFillContent[item="edf"] {
      position: absolute;
      top: 155px;
      left: 315px;
      z-index: 1;
    }
    .smallFillContent[item="ballon"] {
      position: absolute;
      z-index: 2;
      top: 24px;
      left: 67px;
    }
    .smallFillContent[item="tempEau"] {
        position: absolute;
        z-index: 2;
        top: 75px;
        left: 67px;
      }
    .smallFillContent[item="pac"] {
      position: absolute;
      z-index: 2;
      top: 24px;
      left: 1px;
    }
    .inlineLabel {
        display:inline;
    }
    .copyright {
        font-size: 12px;
        position:fixed;
        bottom:-2%;
        left:0.1%;
    }
